{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
    {% if form %}
        <h2>Set a new Password</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>    
    {% else %}
        <h2>Link is invalid</h2>
        <p>See about trying again via.
            <a href="{% url 'password_reset' %}">Forgot your password?</a>

        </p>
    {% endif %}
    
{% endblock content %}